body{
  font-family: 'Roboto', sans-serif;
}

/* header */

.my_logo-lg{
  display: none;
}

.my_logo-sm{
  height: 57px;
}

aside{
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  height: calc(100vh - 57px);
  width: 80px;
}

.main-content{
  background-color: lightgreen;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (min-width:992px) {
  .my_logo-lg{
    display: block;
  }
  .my_logo-sm{
    display: none;
  }
  aside{
    width: 200px;
  }
}