body {
  font-family: 'Roboto', sans-serif;
}

/* header */

header {
  height: 60px;
}

.my_logo-lg {
  display: none;
}

.my_logo-sm {
  width: 40px;
}

.my_logo-sm img {
  width: 100%;
  scale: 1.5;
}

header form {
  width: 100%;
  position: relative;
}

.my_search-bg {
  background-color: #e5e5e5;
  padding-left: 3rem;
}

.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.my_collapse {
  display: none;
}

.fa-bell {
  color: goldenrod;
}

/* aside */

aside {
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  height: calc(100vh - 60px);
  width: 50px;
  color: white;
}

aside ul {
  padding: 0 .55rem;
  list-style: none;
}

.my_lg_aside {
  display: none;
}

aside a {
  text-decoration: none;
  color: white;
}

aside li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

aside li {
  padding: .25rem;
}

/* main-content */

.main-content {
  background-color: #f8f9fa;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.header-banner {
  background-color: #1b72e8;
  color: white;
}

.header-banner h1 {
  display: inline-block;
  font-size: 2rem;
}

.myspacer {
  display: inline;
}

.my_item-lg {
  display: none;
}

.my_item-sm {
  display: inline-block;
}

.custom-btn {
  display: inline-block;
  background-color: #165bba;
  border-radius: 50px;
  font-size: .8rem;
  border: none;
  color: white;
}

.my_add-btn {
  border: 1px solid white;
  background-color: #1b72e8;
  padding: .5rem .75rem;
  margin: 0 1rem;
  border-radius: 5px;
}

.my_add-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.my_tag {
  border-radius: 50%;
  padding: .25rem;
  color: white;
  background-color: #f26551;
}

.offcanvas.offcanvas-end{
  width: 100%;
}

/* media queries */

@media screen and (max-width:576px) {

  th:nth-child(2),
  th:nth-child(3) {
    display: none;
  }

  td:nth-child(2),
  td:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width:992px) {
  .my_logo-lg {
    display: block;
  }

  .my_logo-sm {
    display: none;
  }

  .my_collapse {
    display: block;
  }

  aside {
    height: calc(100vh - 60px);
    width: 170px;
  }

  .my_lg_aside {
    display: block;
  }

  .my_sm_aside {
    display: none;
  }
  .offcanvas.offcanvas-end{
    width: 60%;
  }

}

@media screen and (min-width:1200px) {
  .my_item-lg {
    display: inline-block;
  }

  .my_item-sm {
    display: none;
  }
  .offcanvas.offcanvas-end{
    width: 40%;
  }
}