body {
  font-family: 'Roboto', sans-serif;
}

/* header */

.my_logo-lg {
  display: none;
}

.my_logo-sm {
  width: 40px;
}

.my_logo-sm img {
  width: 100%;
  scale: 1.5;
}

form {
  width: 100%;
}

.my_search-bg{
  background-color: lightgray;
}

.my_collapse{
  display: none;
}

.fa-bell{
  color: goldenrod;
}


/* aside */

aside {
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  height: calc(100vh - 50px);
  width: 50px;
  color: white;
}

aside ul {
  padding: 0 1rem;
  list-style: none;
}

.my_lg_aside {
  display: none;
}

aside a {
  text-decoration: none;
  color: white;
}

/* main-content */

.main-content {
  background-color: lightgreen;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (min-width:992px) {
  .my_logo-lg {
    display: block;
  }

  .my_logo-sm {
    display: none;
  }

  .my_collapse{
    display: block;
  }

  aside {
    width: 200px;
  }

  .my_lg_aside {
    display: block;
  }

  .my_sm_aside {
    display: none;
  }
}